@font-face {
  font-family: 'circular-light';
  src: url('../fonts/circular-light.otf');
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  bottom: 0;
}

footer p {
  color: #00ccaa;
  font-family: 'circular-light'
}