.headshot {
  width: 150px;
  border-radius: 50%;
  margin: 0 auto -20px auto;
  display: block;
}

article.home {
  display: block;
  padding-top: 5%;
}

.home h2 {
  color: #00ccaa;
  text-align: center;
  font-family: 'circular-black';
  font-size: 50px;
  margin: 0 auto;
}

div.glass {
  display: block;
  min-width: 60%;
  width: 75%;
  min-height: 490px;
  color: #00ccaa;
  max-width: 75%;
  background: rgba(234, 240, 240, 0.1);
  box-shadow: 0px 5px 11px 3px rgba(0,0,0,0.5);
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 40px;
  backdrop-filter: blur(7px); /* for chrome */
  -webkit-backdrop-filter: blur(5px); /* for safari */
}

.home h3 {
  font-family: 'circular-medium';
  text-align: center;
  font-size: 30px;
  color: #00ccaa;
}

.glass h4 {
  font-family: 'circular-medium';
  text-align: center;
  font-size: 25px;
}

.home p {
  font-family: 'circular-medium';
  margin: 5px auto;
  text-align: center;
  width: 90%;
}

.blobs {
  top: 0;
  width: 400px;
  display: block;
  position: absolute;
}