@font-face {
  font-family: 'circular-medium';
  src: url('../fonts/circular-medium.otf');
}

@font-face {
  font-family: 'circular-light';
  src: url('../fonts/circular-light.otf');
}

div.project {
  padding: 40px 0;
}

div.wrapper-one ,
div.wrapper-two {
  display: block;
  position: relative;
  height: 350px;
  width: 800px;
  margin: 0 auto;
}

div.description-left,
div.description-right {
  width: 400px;
  position: absolute;
  background: rgba(17, 17, 17, 0.95);
  box-shadow: 0px 5px 11px 3px rgba(0,0,0,0.5);
  border-radius: 20px;
  padding: 30px 20px;
  z-index: 2;
  margin-top: 30px;
  backdrop-filter: blur(5px); /* for chrome */
  -webkit-backdrop-filter: blur(5px); /* for safari */
}

div.description-left {
  margin-left: -200px;
}

div.description-right {
  margin-right: -200px;
  right: 0;
}

.wrapper-one h3,
.wrapper-two h3 {
  text-align: center;
  font-family: 'circular-medium';
  font-size: 30px;
  margin-top: 0;
}

.wrapper-one p,
.wrapper-two p {
  font-family: 'circular-light';
}

.wrapper-one img,
.wrapper-two img {
  margin: 0 auto 30px auto;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
  box-shadow: 0px 5px 11px 2px rgba(0,0,0,0.3);
  z-index: 1;
}

h2 {
  padding-top: 20px;
  font-size: 40px;
}